@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  .wrapper {
    padding: 0 48px;
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

header {
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: #232323;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        mix-blend-mode: difference;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-color {
      background: #000;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
      &.overlay {
        background: rgba(0, 0, 0, 0.45);
        display: none;
      }
    }
    .menu-content {
      position: relative;
      background: #ff2000;
      // background: url("https://images.unsplash.com/photo-1560621412-d51571af5aa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2467&q=80");
      height: 100%;
      overflow: hidden;
    }
    .wrapper {
      position: relative;
      .menu-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 200px;
        nav {
          display: block;
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style: none;
              font-size: 6rem;
              font-weight: 700;
              cursor: pointer;
              a {
                color: #fff;
                text-decoration: none;
                &:hover {
                  color: #282828;
                }
              }
            }
          }
        }
        .info {
          color: #fff;
          width: 300px;
          h3 {
            font-size: 1.2rem;
            margin: 8px auto;
          }
          p {
            margin: 0 auto;
            font-size: 0.8rem;
          }
        }
      }
      .locations {
        position: absolute;
        bottom: -80px;
        color: #fff;
        margin-top: 16px;
        font-size: 0.8rem;
        font-weight: 600;
        span {
          font-weight: 400;
          margin: 0 16px;
        }
      }
    }
  }
}
